html,
body,
#root,
.container,
.home {
    height: 100%;
}

body {
    margin: 0px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(82, 88, 86);
    margin: 0px;
    padding: 10px;
    color: beige;
}

.navBar h2 {
    width: 100px;
    text-align: center;
}

.nav_tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 700px;
}

a {
    color: rgb(209, 209, 207);
    text-decoration: none;
}
li {
    list-style: none;
}

.home {
    background-image: url("./images/Devil_Fruit_Infobox.png");
    background-size: cover;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
}

.store_content {
    display: flex;
    justify-content: center;
}

.type_div {
    margin: 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.type_div label {
    text-align: center;
    margin-bottom: 5px;
}

.types {
    margin: 0px;
    padding: 5px;
    border: blueviolet solid;
    display: grid;
    cursor: pointer;
}

.type:hover {
    background-color: cornflowerblue;
}

.type {
    padding: 10px;
    text-align: center;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
}

.item {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: paleturquoise solid;
}

img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartItem {
    display: grid;
    grid-template-columns: 100px 100px 100px 200px 100px;
    grid-gap: 5px;
    height: 100px;
    text-align: center;
    align-items: center;
}

.cartItem img {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.cartItem button {
    width: fit-content;
    height: fit-content;
}

.checkOut {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: cornflowerblue solid;
    padding-top: 20px;
    margin-top: 10px;
    width: 600px;
}